@import "tailwindcss";
@import "@nuxt/ui";

button {
    cursor: pointer;
}

/*:root {*/
/*    --ui-bg: #fff;*/
/*}*/

/*.dark {*/
/*    --ui-bg: #09090B;*/
/*}*/


body {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* диапазон весов */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
