@import "tailwindcss";
@import "@nuxt/ui";

button {
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* диапазон весов */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: oklch(98.5% 0 0);
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #373737;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
    height: 3px;
    border-radius: 10px;
}